	/*css 초기화*/
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

#header {width:100%; height:70px; position:relative; font-family: '나눔고딕' , 'Nanum Gothic', sans-serif;}
#logo { margin-left:5%; width:70px; height:70px; background-size:100% 100%;
		background-image: url('../img/main_logo.jpg') }
.category{ list-style-type:none; display:inline-block; font-size:20px; margin: 0 auto; margin-left:20px; }
#menu_ul{ position:absolute; top:35%; left:25%; }
a{ text-decoration:none; color:black; }
#outbtn a {
			position:absolute;
			top:25%;
			right:5%;
			border:1px solid #e84148;
			border-radius:5px;
			display: inline-block;
			padding: 5px 10px;
			text-decoration: none;
			font-weight: bold;
			margin: 3px;
		}
#nickname {position:absolite; top:25%; right:10%; display:inline;}
.bar{ color:#e84148; }